@import url('https://googleapis.com');

body {
    background-color: #05030a;
    /*itt ezt a háttér ötletet chatgpttől kértük el, máshol nem találtuk*/
    background-image: radial-gradient(ellipse at 50% 0%,
            rgb(65, 65, 70) 0%,
            rgb(25, 24, 30) 30%,
            rgb(5, 3, 10) 65%);
    background-repeat: no-repeat;
    background-size: 100% 500px;

    color: white;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 100px;
    text-align: center;
}

.fejlec p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;

}

.fejlec {
    border-bottom: 2px solid rgb(237, 237, 240);
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 5px 10px -5px rgb(255, 255, 255);
}

.bemutatas {
    text-align: left;
    font-size: 20px;
    color: white;
    margin-top: 100px;
}

.bemutatas h2 {
    font-size: 70px;
}

.detroit {
    text-align: center;
}

.detroit img {
    transition: transform 0.2s ease-in-out;
}

.detroit img:hover {
    transform: scale(1.05);
}

.arazas h2 {
    text-align: center;
}

.ar {
    transition: 0.3s;
}

.ar:hover {
    transform: scale(1.05);
}

.funkciok h2,
h3 {
    text-align: center;
}

.garancia h2 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1700px;
    margin: 0 auto;
}

.ar {
    border: 2px solid rgb(237, 237, 240);
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 250px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
}

.testreszabas {
    text-align: center;
}


.testreszabas h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 50px;
}

.testreszabas img {
    Text-align: center;

}

.testreszabas p {
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

footer {
    background-color: #05030a;
    text-align: center;
    padding: 1px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 0px 10px rgb(255, 255, 255);
}